<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
</head>
<body>
    <form action="/converter" method="post">
        <label for="initial-currency">Initial Currency:</label>
        <input type="text" name="initial-currency" id="initial-currency"><br>
        <label for="desired-currency">Desired Currency:</label>
        <input type="text" name="desired-currency" id="desired-currency"><br>
        <label for="amount">Amount:</label>
        <input type="text" name="amount" id="amount">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
